In [1]:
import pandas as pd
import geopandas as gpd
import os

In [2]:
hospital_bed = pd.read_stata("../covid_data/hospitals/dlhs4_hospitals_dist.dta")

hospital_bed.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 636 entries, 0 to 635
Data columns (total 17 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   lgd_state_id            636 non-null    object
 1   lgd_district_id         636 non-null    object
 2   dlhs4_dh_beds           636 non-null    float64
 3   dlhs4_dh_count          636 non-null    float64
 4   dlhs4_dh_staff          636 non-null    float64
 5   dlhs4_chc_beds          636 non-null    float64
 6   dlhs4_chc_count         636 non-null    float64
 7   dlhs4_chc_staff         636 non-null    float64
 8   dlhs4_phc_beds          636 non-null    float64
 9   dlhs4_phc_count         636 non-null    float64
 10  dlhs4_phc_staff         636 non-null    float64
 11  dlhs4_phc_pop           636 non-null    float64
 12  pc11_pca_tot_p          636 non-null    float64
 13  dlhs4_phc_mult          636 non-null    float32
 14  dlhs4_total_beds        636 non-null    float64
 15  dlhs4_total_staff       636 non-null    float64
 16  dlhs4_total_facilities  636 non-null    float64
dtypes: float32(1), float64(14), object(2)
memory usage: 82.1+ KB

In [3]:
hospital_bed_state = hospital_bed.groupby("lgd_state_id")[["dlhs4_dh_beds", "pc11_pca_tot_p"]].sum().reset_index()

hospital_bed_state

   lgd_state_id  dlhs4_dh_beds  pc11_pca_tot_p
0            02    2330.000000    6.864602e+06
1            03    5119.000000    2.774334e+07
2            04     550.000000    1.055450e+06
3            05    4360.000000    1.008629e+07
4            06    3965.000000    2.535146e+07
5            08   10445.000000    6.768059e+07
6            09   17651.999997    1.968109e+08
7            10    6291.000000    1.033986e+08
8            11     504.000000    6.105770e+05
9            12    1050.000003    1.383727e+06
10           13    1052.000000    1.978502e+06
11           14     417.999996    2.855794e+06
12           15     768.999994    1.097206e+06
13           16    2761.000039    3.673917e+06
14           17     765.000000    2.966889e+06
15           18    5193.999974    2.768773e+07
16           19   19719.000057    8.677942e+07
17           20    2061.000000    2.832415e+07
18           21    6490.000000    4.197422e+07
19           22    3062.000011    2.440121e+07
20           23   15769.999992    6.836738e+07
21           27   20270.000000    9.993196e+07
22           28    9517.000000    4.938680e+07
23           29   25241.000000    6.109530e+07
24           30     572.000000    1.458545e+06
25           32   14644.000000    3.340606e+07
26           33   32725.000056    6.750030e+07
27           34     877.000000    1.247953e+06
28           35     601.000000    3.805810e+05
29           36    5569.999965    3.125065e+07

In [4]:
hospital_bed_state["bed_1000"] = (hospital_bed_state["dlhs4_dh_beds"] / hospital_bed_state["pc11_pca_tot_p"]) * 1000

hospital_bed_state

   lgd_state_id  dlhs4_dh_beds  pc11_pca_tot_p  bed_1000
0            02    2330.000000    6.864602e+06  0.339422
1            03    5119.000000    2.774334e+07  0.184513
2            04     550.000000    1.055450e+06  0.521105
3            05    4360.000000    1.008629e+07  0.432270
4            06    3965.000000    2.535146e+07  0.156401
5            08   10445.000000    6.768059e+07  0.154328
6            09   17651.999997    1.968109e+08  0.089690
7            10    6291.000000    1.033986e+08  0.060842
8            11     504.000000    6.105770e+05  0.825449
9            12    1050.000003    1.383727e+06  0.758820
10           13    1052.000000    1.978502e+06  0.531715
11           14     417.999996    2.855794e+06  0.146369
12           15     768.999994    1.097206e+06  0.700871
13           16    2761.000039    3.673917e+06  0.751514
14           17     765.000000    2.966889e+06  0.257846
15           18    5193.999974    2.768773e+07  0.187592
16           19   19719.000057    8.677942e+07  0.227231
17           20    2061.000000    2.832415e+07  0.072765
18           21    6490.000000    4.197422e+07  0.154619
19           22    3062.000011    2.440121e+07  0.125486
20           23   15769.999992    6.836738e+07  0.230666
21           27   20270.000000    9.993196e+07  0.202838
22           28    9517.000000    4.938680e+07  0.192703
23           29   25241.000000    6.109530e+07  0.413141
24           30     572.000000    1.458545e+06  0.392172
25           32   14644.000000    3.340606e+07  0.438364
26           33   32725.000056    6.750030e+07  0.484813
27           34     877.000000    1.247953e+06  0.702751
28           35     601.000000    3.805810e+05  1.579164
29           36    5569.999965    3.125065e+07  0.178236

In [5]:
state_shp = gpd.read_file("./output_shpfile/state_key_with_polygon/state_key_with_polygon.shp")

state_shp.info()

<class 'geopandas.geodataframe.GeoDataFrame'>
RangeIndex: 36 entries, 0 to 35
Data columns (total 5 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   lgd_sta_id  36 non-null     object
 1   lgd_sta_na  36 non-null     object
 2   pc11_st_id  36 non-null     object
 3   pc11_st_na  36 non-null     object
 4   geometry    36 non-null     geometry
dtypes: geometry(1), object(4)
memory usage: 1.5+ KB

In [6]:
hospital_bed_state_shp = pd.merge(state_shp, hospital_bed_state, left_on="lgd_sta_id", right_on="lgd_state_id", how="left")

hospital_bed_state_shp = hospital_bed_state_shp[hospital_bed_state_shp["lgd_sta_na"].isin(["tamil nadu", "madhya pradesh", "maharashtra", "uttar pradesh", "kerala", "bihar"])]

hospital_bed_state_shp.info()

<class 'geopandas.geodataframe.GeoDataFrame'>
Index: 6 entries, 7 to 31
Data columns (total 9 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   lgd_sta_id      6 non-null      object
 1   lgd_sta_na      6 non-null      object
 2   pc11_st_id      6 non-null      object
 3   pc11_st_na      6 non-null      object
 4   geometry        6 non-null      geometry
 5   lgd_state_id    6 non-null      object
 6   dlhs4_dh_beds   6 non-null      float64
 7   pc11_pca_tot_p  6 non-null      float64
 8   bed_1000        6 non-null      float64
dtypes: float64(3), geometry(1), object(5)
memory usage: 480.0+ bytes

In [7]:
hospital_bed_state_shp.drop(columns=["lgd_state_id", "pc11_pca_tot_p"], inplace=True)
hospital_bed_state_shp.rename(columns={"dlhs4_dh_beds": "hospit_bed"}, inplace=True)

hospital_bed_state_shp.info()

<class 'geopandas.geodataframe.GeoDataFrame'>
Index: 6 entries, 7 to 31
Data columns (total 7 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   lgd_sta_id  6 non-null      object
 1   lgd_sta_na  6 non-null      object
 2   pc11_st_id  6 non-null      object
 3   pc11_st_na  6 non-null      object
 4   geometry    6 non-null      geometry
 5   hospit_bed  6 non-null      float64
 6   bed_1000    6 non-null      float64
dtypes: float64(2), geometry(1), object(4)
memory usage: 384.0+ bytes

In [8]:
# Export the "mortality_perDistrict_perMonth_shp" table to shapefile
os.mkdir("./output_shpfile/hospital_bed_state_shp")
hospital_bed_state_shp.to_file("./output_shpfile/hospital_bed_state_shp/hospital_bed_state_shp.shp", driver="ESRI Shapefile")