In [29]:
import pandas as pd
import os

In [30]:
# Explor the "lgd_district_key" table
lgd_district_key = pd.read_stata("../covid_data/keys/lgd_district_key.dta")
lgd_district_key.head()

,lgd_state_id,lgd_state_name,lgd_district_id,lgd_district_version,lgd_district_name,lgd_district_name_local
0,01,jammu and kashmir,001,1,anantnag,ANANTNAG
1,01,jammu and kashmir,002,2,budgam,
2,01,jammu and kashmir,003,1,baramulla,BARAMULLA
3,01,jammu and kashmir,004,1,doda,DODA
4,01,jammu and kashmir,005,1,jammu,JAMMU

In [31]:
# Clean the "lgd_district_key" table
lgd_district_key_cleaned = lgd_district_key[["lgd_state_id", "lgd_state_name", "lgd_district_id", "lgd_district_name"]]
lgd_district_key_cleaned = lgd_district_key_cleaned.drop_duplicates()

# Check the "lgd_district_key_cleaned" table
lgd_district_key_cleaned.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 733 entries, 0 to 732
Data columns (total 4 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   lgd_state_id       733 non-null    object
 1   lgd_state_name     733 non-null    object
 2   lgd_district_id    733 non-null    object
 3   lgd_district_name  733 non-null    object
dtypes: object(4)
memory usage: 23.0+ KB

In [32]:
# Explor the "lgd_pc11_village_key" table
lgd_pc11_village_key = pd.read_stata("../covid_data/keys/lgd_pc11_village_key.dta")
lgd_pc11_village_key.head()

,pc11_state_id,pc11_district_id,pc11_subdistrict_id,pc11_village_id,lgd_state_id,lgd_district_id,lgd_subdistrict_id,lgd_village_id,lgd_pc11_match
0,01,001,00001,000047,01,008,00001,000047,pc11 state/district/subdistrict/village id
1,01,001,00001,000048,01,008,00001,000048,pc11 state/district/subdistrict/village id
2,01,001,00001,000049,01,008,00001,000049,pc11 state/district/subdistrict/village id
3,01,001,00001,000050,01,008,00001,000050,pc11 state/district/subdistrict/village id
4,01,001,00001,000051,01,008,00001,000051,pc11 state/district/subdistrict/village id

In [33]:
# Clean the "lgd_pc11_district_key_cleaned" table
lgd_pc11_district_key_cleaned = lgd_pc11_village_key[["pc11_state_id", "pc11_district_id", "lgd_state_id", "lgd_district_id"]]
lgd_pc11_district_key_cleaned = lgd_pc11_district_key_cleaned.drop_duplicates()

# Check the "lgd_pc11_district_key_cleaned" table
lgd_pc11_district_key_cleaned.info()

<class 'pandas.core.frame.DataFrame'>
Index: 724 entries, 0 to 635900
Data columns (total 4 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   pc11_state_id     724 non-null    object
 1   pc11_district_id  724 non-null    object
 2   lgd_state_id      724 non-null    object
 3   lgd_district_id   724 non-null    object
dtypes: object(4)
memory usage: 28.3+ KB

In [34]:
# Explor the "pc11_district_key" table
pc11_district_key = pd.read_stata("../covid_data/keys/pc11_district_key.dta")
pc11_district_key.head()

,pc11_state_id,pc11_state_name,pc01_state_id,pc01_state_name,pc11_district_id,pc11_district_name,pc01_district_id,pc01_district_name
0,01,jammu kashmir,01,jammu kashmir,001,kupwara,01,kupwara
1,01,jammu kashmir,01,jammu kashmir,008,baramula,02,baramula
2,01,jammu kashmir,01,jammu kashmir,009,bandipore,02,baramula
3,01,jammu kashmir,01,jammu kashmir,011,ganderbal,02,baramula
4,01,jammu kashmir,01,jammu kashmir,010,srinagar,03,srinagar

In [35]:
# Clean the "pc11_district_key_cleaned" table
pc11_district_key_cleaned = pc11_district_key[["pc11_state_id", "pc11_state_name", "pc11_district_id", "pc11_district_name"]]
pc11_district_key_cleaned = pc11_district_key_cleaned.drop_duplicates()

# Check the "pc11_district_key_cleaned" table
pc11_district_key_cleaned.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 640 entries, 0 to 639
Data columns (total 4 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   pc11_state_id       640 non-null    object
 1   pc11_state_name     640 non-null    object
 2   pc11_district_id    640 non-null    object
 3   pc11_district_name  640 non-null    object
dtypes: object(4)
memory usage: 20.1+ KB

In [36]:
# Create the query table of state\district and their lgd_id, pc11_id, pc01_id by merging the above tables
district_key = pd.merge(lgd_district_key_cleaned, lgd_pc11_district_key_cleaned, on=["lgd_district_id"], how="left")
district_key = pd.merge(district_key, pc11_district_key_cleaned, on=["pc11_district_id"], how="left")

# Check "district_key" table
district_key.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 734 entries, 0 to 733
Data columns (total 10 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   lgd_state_id_x      734 non-null    object
 1   lgd_state_name      734 non-null    object
 2   lgd_district_id     734 non-null    object
 3   lgd_district_name   734 non-null    object
 4   pc11_state_id_x     724 non-null    object
 5   pc11_district_id    724 non-null    object
 6   lgd_state_id_y      724 non-null    object
 7   pc11_state_id_y     721 non-null    object
 8   pc11_state_name     721 non-null    object
 9   pc11_district_name  721 non-null    object
dtypes: object(10)
memory usage: 57.5+ KB

In [37]:
# Clean the query table
def compare_and_update_columns(df, col_x, col_y):
    # List to store mismatched rows' indices
    mismatched_rows = []

    # Check whether both columns exist
    if col_x in df.columns and col_y in df.columns:
        # Compare col_x and col_y, and ignore if one of them is Nan
        mismatches = df[(~pd.isna(df[col_x])) & (~pd.isna(df[col_y])) & (df[col_x] != df[col_y])]
        if not mismatches.empty:
            mismatched_rows.extend(mismatches.index.tolist())
            print(f"Columns {col_x} and {col_y} mismatch on rows: {mismatches.index.tolist()}")
        else:
            # If they are the same, drop the col_y, rename and keep col_x
            new_col_name = col_x.rstrip("_x")
            df.rename(columns={col_x: new_col_name}, inplace=True)
            df.drop(col_y, axis=1, inplace=True)
    else:
        raise ValueError(f"One or both columns {col_x} or {col_y} do not exist in the DataFrame.")
    
    return df

district_key = compare_and_update_columns(district_key, "lgd_state_id_x", "lgd_state_id_y")
district_key = compare_and_update_columns(district_key, "pc11_state_id_x", "pc11_state_id_y")

# Check the "district_key" table 
district_key.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 734 entries, 0 to 733
Data columns (total 8 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   lgd_state_id        734 non-null    object
 1   lgd_state_name      734 non-null    object
 2   lgd_district_id     734 non-null    object
 3   lgd_district_name   734 non-null    object
 4   pc11_state_id       724 non-null    object
 5   pc11_district_id    724 non-null    object
 6   pc11_state_name     721 non-null    object
 7   pc11_district_name  721 non-null    object
dtypes: object(8)
memory usage: 46.0+ KB

In [38]:
# Clean the "district_key" table, drop the rows with nan pc11_id
district_key = district_key.dropna(subset=["pc11_state_id", "pc11_district_id"])

# Check the "district_key" table
district_key.info()

<class 'pandas.core.frame.DataFrame'>
Index: 724 entries, 0 to 733
Data columns (total 8 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   lgd_state_id        724 non-null    object
 1   lgd_state_name      724 non-null    object
 2   lgd_district_id     724 non-null    object
 3   lgd_district_name   724 non-null    object
 4   pc11_state_id       724 non-null    object
 5   pc11_district_id    724 non-null    object
 6   pc11_state_name     721 non-null    object
 7   pc11_district_name  721 non-null    object
dtypes: object(8)
memory usage: 50.9+ KB

In [39]:
# Explore shapefile data (district level)
import geopandas as gpd

district_shp = gpd.read_file("../shrug-pc11dist-poly-shp/district.shp")
district_shp = district_shp.drop(columns=["pc11_d_id", "d_name"])

# Check the "district_shp" table
district_shp

    pc11_s_id                                           geometry
0          24  MULTIPOLYGON (((70.45008 23.01226, 70.44904 23...
1          24  MULTIPOLYGON (((71.24964 24.20926, 71.24207 24...
2          24  MULTIPOLYGON (((71.42507 23.96967, 71.42497 23...
3          24  POLYGON ((72.79975 24.07615, 72.80022 24.07529...
4          24  POLYGON ((73.14784 24.47759, 73.14773 24.47410...
..        ...                                                ...
636        31  MULTIPOLYGON (((73.06985 8.33289, 73.07083 8.3...
637        35  MULTIPOLYGON (((93.71364 7.21016, 93.71297 7.2...
638        35  MULTIPOLYGON (((92.87559 12.21008, 92.87547 12...
639        35  MULTIPOLYGON (((92.51415 10.86435, 92.51197 10...
640        01  MULTIPOLYGON (((77.96377 35.48792, 77.96460 35...

[641 rows x 2 columns]

In [40]:
state_shp = district_shp.dissolve(by="pc11_s_id")
state_shp = state_shp.reset_index()
district_shp = district_shp.drop_duplicates()

state_key = district_key.drop(columns=["lgd_district_id", "lgd_district_name", "pc11_district_id", "pc11_district_name"])
state_key = state_key.drop_duplicates()

state_shp

/Users/shenqiwei/miniconda3/envs/gds/lib/python3.9/site-packages/shapely/set_operations.py:426: RuntimeWarning: invalid value encountered in unary_union
  return lib.unary_union(collections, **kwargs)

   pc11_s_id                                           geometry
0         01  POLYGON ((74.87781 32.49447, 74.87746 32.49422...
1         02  POLYGON ((77.01388 30.75802, 77.01513 30.76066...
2         03  POLYGON ((75.72775 29.81286, 75.72764 29.81201...
3         04  POLYGON ((76.79191 30.77115, 76.79229 30.77118...
4         05  POLYGON ((78.82994 29.37827, 78.83283 29.37810...
5         06  POLYGON ((76.86159 28.22481, 76.86037 28.22501...
6         07  POLYGON ((77.31867 28.56386, 77.31952 28.56433...
7         08  POLYGON ((73.95642 23.37726, 73.95514 23.37739...
8         09  MULTIPOLYGON (((78.58008 25.18957, 78.58099 25...
9         10  MULTIPOLYGON (((84.51003 24.25944, 84.50918 24...
10        11  POLYGON ((88.80204 27.42773, 88.80286 27.42725...
11        12  POLYGON ((94.21093 27.60839, 94.21079 27.60828...
12        13  POLYGON ((93.53308 25.69047, 93.53358 25.69074...
13        14  POLYGON ((93.74101 24.00471, 93.74137 24.00228...
14        15  POLYGON ((93.10784 22.52625, 93.10916 22.52462...
15        16  POLYGON ((91.88107 23.43100, 91.88270 23.42993...
16        17  POLYGON ((90.97460 25.17513, 90.97171 25.17330...
17        18  MULTIPOLYGON (((92.17778 26.07661, 92.17580 26...
18        19  MULTIPOLYGON (((88.19625 21.57272, 88.19569 21...
19        20  MULTIPOLYGON (((85.89489 23.15072, 85.89557 23...
20        21  MULTIPOLYGON (((82.39524 18.44878, 82.39508 18...
21        22  POLYGON ((81.95951 18.68881, 81.96465 18.67641...
22        23  MULTIPOLYGON (((76.78783 21.54013, 76.78554 21...
23        24  MULTIPOLYGON (((69.97938 21.22896, 69.97760 21...
24        25  MULTIPOLYGON (((72.83954 20.41098, 72.83959 20...
25        26  MULTIPOLYGON (((73.11651 20.31271, 73.11440 20...
26        27  MULTIPOLYGON (((73.08356 17.81855, 73.08470 17...
27        28  POLYGON ((80.02380 13.52380, 80.02213 13.52475...
28        29  MULTIPOLYGON (((74.77680 13.07291, 74.77680 13...
29        30  MULTIPOLYGON (((74.11488 14.75685, 74.11516 14...
30        31  MULTIPOLYGON (((72.28151 10.04247, 72.28241 10...
31        32  POLYGON ((76.83494 10.33028, 76.83446 10.32504...
32        33  MULTIPOLYGON (((77.57704 8.13644, 77.57654 8.1...
33        34  MULTIPOLYGON (((79.73899 10.92084, 79.73903 10...
34        35  MULTIPOLYGON (((92.49267 10.87136, 92.49011 10...

In [41]:
# Merge the shp and the query table
state_key_with_polygon = pd.merge(state_key, state_shp, left_on="pc11_state_id", right_on="pc11_s_id", how="left")

# Check the "district_key_with_polygon" table
state_key_with_polygon.head()

,lgd_state_id,lgd_state_name,pc11_state_id,pc11_state_name,pc11_s_id,geometry
0,01,jammu and kashmir,01,jammu kashmir,01,"POLYGON ((74.87781 32.49447, 74.87746 32.49422..."
1,02,himachal pradesh,02,himachal pradesh,02,"POLYGON ((77.01388 30.75802, 77.01513 30.76066..."
2,03,punjab,03,punjab,03,"POLYGON ((75.72775 29.81286, 75.72764 29.81201..."
3,05,uttarakhand,05,uttarakhand,05,"POLYGON ((78.82994 29.37827, 78.83283 29.37810..."
4,06,haryana,06,haryana,06,"POLYGON ((76.86159 28.22481, 76.86037 28.22501..."

In [42]:
# Clean the merged table
# Drop the rows with nan value
state_key_with_polygon = state_key_with_polygon.dropna()

state_key_with_polygon = compare_and_update_columns(state_key_with_polygon, "pc11_state_id", "pc11_s_id")

In [43]:
# # There are 12 rows, which "pc11_district_name" and "d_name" are different, so the manually checking is conducted
# district_key_with_polygon.loc[[26, 191, 218, 245, 404, 444, 481, 490, 553, 590, 689, 723]][["pc11_district_name", "d_name"]]

In [44]:
# # As they are basically same, the "d_name" is dropped
# district_key_with_polygon = district_key_with_polygon.drop("d_name", axis=1)
# 
# # Check the "district_key_with_polygon" table
# district_key_with_polygon.info()

In [45]:
state_key_with_polygon.rename(columns={"lgd_state_id": "lgd_sta_id",
                                       "lgd_state_name": "lgd_sta_na",
                                       "pc11_state_id": "pc11_st_id",
                                       "pc11_state_name": "pc11_st_na"}, inplace=True)

In [46]:
# Export the "district_key_with_polygon" table to shapefile
district_key_with_polygon = gpd.GeoDataFrame(state_key_with_polygon, geometry="geometry")
os.mkdir("./output_shpfile/state_key_with_polygon")
district_key_with_polygon.to_file("./output_shpfile/state_key_with_polygon/state_key_with_polygon.shp", driver="ESRI Shapefile")