In [17]:
import pandas as pd
import geopandas as gpd
import os

In [18]:
# Explore the "state_mort_year" table
mortality_perState_perYear = pd.read_stata("../covid_data/mortality/state_mort_year.dta")
mortality_perState_perYear.head()

,lgd_state_id,lgd_state_name,state,deaths,year,pc11_state_id
0,02,himachal pradesh,Himachal Pradesh,40133.0,2018.0,02
1,02,himachal pradesh,Himachal Pradesh,40970.0,2019.0,02
2,02,himachal pradesh,Himachal Pradesh,42416.0,2020.0,02
3,02,himachal pradesh,Himachal Pradesh,21180.0,2021.0,02
4,03,punjab,Punjab,199461.0,2015.0,03

In [19]:
# Extract six states
mortality_perState_perYear = mortality_perState_perYear[mortality_perState_perYear["lgd_state_name"].isin(["tamil nadu", "madhya pradesh", "maharashtra", "uttar pradesh", "kerala", "bihar"])]

# Check the "mortality_perDistrict_perMonth" table
mortality_perState_perYear

,lgd_state_id,lgd_state_name,state,deaths,year,pc11_state_id
23,09,uttar pradesh,Uttar Pradesh,771383.0,2019.0,09
24,09,uttar pradesh,Uttar Pradesh,791485.0,2020.0,09
25,09,uttar pradesh,Uttar Pradesh,333878.0,2021.0,09
26,10,bihar,Bihar,182921.0,2018.0,10
27,10,bihar,Bihar,351274.0,2019.0,10
28,10,bihar,Bihar,387429.0,2020.0,10
29,10,bihar,Bihar,215746.0,2021.0,10
37,23,madhya pradesh,Madhya Pradesh,407123.0,2018.0,23
38,23,madhya pradesh,Madhya Pradesh,449740.0,2019.0,23
39,23,madhya pradesh,Madhya Pradesh,460691.0,2020.0,23
40,23,madhya pradesh,Madhya Pradesh,348595.0,2021.0,23
41,27,maharashtra,Maharashtra,426489.0,2018.0,27
42,27,maharashtra,Maharashtra,462028.0,2019.0,27
43,27,maharashtra,Maharashtra,565185.0,2020.0,27
44,27,maharashtra,Maharashtra,338123.0,2021.0,27
56,32,kerala,Kerala,235982.0,2015.0,32
57,32,kerala,Kerala,244900.0,2016.0,32
58,32,kerala,Kerala,252103.0,2017.0,32
59,32,kerala,Kerala,255594.0,2018.0,32
60,32,kerala,Kerala,264150.0,2019.0,32
61,32,kerala,Kerala,252421.0,2020.0,32
62,32,kerala,Kerala,119280.0,2021.0,32
63,33,tamil nadu,Tamil Nadu,536192.0,2018.0,33
64,33,tamil nadu,Tamil Nadu,588221.0,2019.0,33
65,33,tamil nadu,Tamil Nadu,644291.0,2020.0,33
66,33,tamil nadu,Tamil Nadu,318425.0,2021.0,33

In [20]:
# Get shapefile in state level
state_shp = gpd.read_file("./output_shpfile/state_key_with_polygon/state_key_with_polygon.shp")

# Check the "state_shp" table
state_shp.info()

<class 'geopandas.geodataframe.GeoDataFrame'>
RangeIndex: 36 entries, 0 to 35
Data columns (total 5 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   lgd_sta_id  36 non-null     object
 1   lgd_sta_na  36 non-null     object
 2   pc11_st_id  36 non-null     object
 3   pc11_st_na  36 non-null     object
 4   geometry    36 non-null     geometry
dtypes: geometry(1), object(4)
memory usage: 1.5+ KB

In [21]:
# Merge the above two tables
mortality_perState_perYear_shp = pd.merge(state_shp, mortality_perState_perYear, left_on="lgd_sta_id", right_on="lgd_state_id", how="left")
mortality_perState_perYear_shp = mortality_perState_perYear_shp.dropna()

# Check the "mortality_perState_perYear_shp" table
mortality_perState_perYear_shp.info()

<class 'geopandas.geodataframe.GeoDataFrame'>
Index: 26 entries, 7 to 51
Data columns (total 11 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   lgd_sta_id      26 non-null     object
 1   lgd_sta_na      26 non-null     object
 2   pc11_st_id      26 non-null     object
 3   pc11_st_na      26 non-null     object
 4   geometry        26 non-null     geometry
 5   lgd_state_id    26 non-null     object
 6   lgd_state_name  26 non-null     object
 7   state           26 non-null     object
 8   deaths          26 non-null     float64
 9   year            26 non-null     float32
 10  pc11_state_id   26 non-null     object
dtypes: float32(1), float64(1), geometry(1), object(8)
memory usage: 2.3+ KB

In [22]:
mortality_perState_perYear_shp.drop(columns=["lgd_state_id", "lgd_state_name", "state", "pc11_state_id"], inplace=True)

# Check the "mortality_perState_perYear_shp" table
mortality_perState_perYear_shp.info()

<class 'geopandas.geodataframe.GeoDataFrame'>
Index: 26 entries, 7 to 51
Data columns (total 7 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   lgd_sta_id  26 non-null     object
 1   lgd_sta_na  26 non-null     object
 2   pc11_st_id  26 non-null     object
 3   pc11_st_na  26 non-null     object
 4   geometry    26 non-null     geometry
 5   deaths      26 non-null     float64
 6   year        26 non-null     float32
dtypes: float32(1), float64(1), geometry(1), object(4)
memory usage: 1.5+ KB

In [23]:
# Export the "mortality_perDistrict_perMonth_shp" table to shapefile
os.mkdir("./output_shpfile/mortality_perState_perYear_shp")
mortality_perState_perYear_shp.to_file("./output_shpfile/mortality_perState_perYear_shp/mortality_perDistrict_perMonth_shp.shp", driver="ESRI Shapefile")