In [1]:
import pandas as pd
import geopandas as gpd
import os

In [2]:
# Explore the "district_mort_month" table
mortality_perDistrict_perMonth = pd.read_stata("../covid_data/mortality/district_mort_month.dta")
mortality_perDistrict_perMonth.head()

,lgd_state_id,lgd_district_id,lgd_state_name,lgd_district_name,state,district,deaths,month,year,pc11_state_id,pc11_district_id,pc11_district_name
0,02,015,himachal pradesh,bilaspur,Himachal Pradesh,Bilaspur,169.0,9,2020.0,02,030,bilaspur
1,02,015,himachal pradesh,bilaspur,Himachal Pradesh,Bilaspur,180.0,11,2019.0,02,030,bilaspur
2,02,015,himachal pradesh,bilaspur,Himachal Pradesh,Bilaspur,196.0,2,2018.0,02,030,bilaspur
3,02,015,himachal pradesh,bilaspur,Himachal Pradesh,Bilaspur,145.0,8,2018.0,02,030,bilaspur
4,02,015,himachal pradesh,bilaspur,Himachal Pradesh,Bilaspur,211.0,1,2020.0,02,030,bilaspur

In [3]:
# Extract data of Year 2018-2021
mortality_perDistrict_perMonth = mortality_perDistrict_perMonth[mortality_perDistrict_perMonth["year"].isin([2018, 2019, 2020, 2021])]

# Check the "mortality_perDistrict_perMonth" table
mortality_perDistrict_perMonth.info()

<class 'pandas.core.frame.DataFrame'>
Index: 12435 entries, 0 to 12650
Data columns (total 12 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   lgd_state_id        12435 non-null  object
 1   lgd_district_id     12435 non-null  object
 2   lgd_state_name      12435 non-null  object
 3   lgd_district_name   12435 non-null  object
 4   state               12435 non-null  object
 5   district            12435 non-null  object
 6   deaths              12435 non-null  float64
 7   month               12435 non-null  int8
 8   year                12435 non-null  float32
 9   pc11_state_id       12435 non-null  object
 10  pc11_district_id    12435 non-null  object
 11  pc11_district_name  12435 non-null  object
dtypes: float32(1), float64(1), int8(1), object(9)
memory usage: 1.1+ MB

In [4]:
# Get shapefile in state level
district_shp = gpd.read_file("./district_key_table_shp/district_key_table_shp.shp")

# Check the "district_shp" table
district_shp.info()

<class 'geopandas.geodataframe.GeoDataFrame'>
RangeIndex: 721 entries, 0 to 720
Data columns (total 9 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   lgd_sta_id  721 non-null    object
 1   lgd_sta_na  721 non-null    object
 2   lgd_dis_id  721 non-null    object
 3   lgd_dis_na  721 non-null    object
 4   pc11_st_id  721 non-null    object
 5   pc11_di_id  721 non-null    object
 6   pc11_st_na  721 non-null    object
 7   pc11_di_na  721 non-null    object
 8   geometry    721 non-null    geometry
dtypes: geometry(1), object(8)
memory usage: 50.8+ KB

In [5]:
# Merge the above two tables (2018)
mortality_perDistrict_perMonth_shp = pd.merge(district_shp, mortality_perDistrict_perMonth, left_on="lgd_dis_id", right_on="lgd_district_id", how="left")
mortality_perDistrict_perMonth_shp = mortality_perDistrict_perMonth_shp.dropna()

# Check the "mortality_perDistrict_perMonth_shp" table
mortality_perDistrict_perMonth_shp.info()

<class 'geopandas.geodataframe.GeoDataFrame'>
Index: 12298 entries, 20 to 12616
Data columns (total 21 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   lgd_sta_id          12298 non-null  object
 1   lgd_sta_na          12298 non-null  object
 2   lgd_dis_id          12298 non-null  object
 3   lgd_dis_na          12298 non-null  object
 4   pc11_st_id          12298 non-null  object
 5   pc11_di_id          12298 non-null  object
 6   pc11_st_na          12298 non-null  object
 7   pc11_di_na          12298 non-null  object
 8   geometry            12298 non-null  geometry
 9   lgd_state_id        12298 non-null  object
 10  lgd_district_id     12298 non-null  object
 11  lgd_state_name      12298 non-null  object
 12  lgd_district_name   12298 non-null  object
 13  state               12298 non-null  object
 14  district            12298 non-null  object
 15  deaths              12298 non-null  float64
 16  month               12298 non-null  float64
 17  year                12298 non-null  float32
 18  pc11_state_id       12298 non-null  object
 19  pc11_district_id    12298 non-null  object
 20  pc11_district_name  12298 non-null  object
dtypes: float32(1), float64(2), geometry(1), object(17)
memory usage: 2.0+ MB

In [6]:
mortality_perDistrict_perMonth_shp.drop(columns=["lgd_state_id", "lgd_district_id", "lgd_state_name", "lgd_district_name", "state", "district", "pc11_state_id", "pc11_district_id", "pc11_district_name"], inplace=True)

# Check the "mortality_perDistrict_perMonth_shp" table
mortality_perDistrict_perMonth_shp.info()

<class 'geopandas.geodataframe.GeoDataFrame'>
Index: 12298 entries, 20 to 12616
Data columns (total 12 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   lgd_sta_id  12298 non-null  object
 1   lgd_sta_na  12298 non-null  object
 2   lgd_dis_id  12298 non-null  object
 3   lgd_dis_na  12298 non-null  object
 4   pc11_st_id  12298 non-null  object
 5   pc11_di_id  12298 non-null  object
 6   pc11_st_na  12298 non-null  object
 7   pc11_di_na  12298 non-null  object
 8   geometry    12298 non-null  geometry
 9   deaths      12298 non-null  float64
 10  month       12298 non-null  float64
 11  year        12298 non-null  float32
dtypes: float32(1), float64(2), geometry(1), object(8)
memory usage: 1.2+ MB

In [7]:
# Export the "mortality_perDistrict_perMonth_shp" table to shapefile
os.mkdir("./mortality_perDistrict_perMonth_shp")
mortality_perDistrict_perMonth_shp.to_file("./mortality_perDistrict_perMonth_shp/mortality_perDistrict_perMonth_shp.shp", driver="ESRI Shapefile")