In [1]:
import pandas as pd
import os

In [2]:
# Explor the "lgd_district_key" table
lgd_district_key = pd.read_stata("../covid_data/keys/lgd_district_key.dta")
lgd_district_key.head()

,lgd_state_id,lgd_state_name,lgd_district_id,lgd_district_version,lgd_district_name,lgd_district_name_local
0,01,jammu and kashmir,001,1,anantnag,ANANTNAG
1,01,jammu and kashmir,002,2,budgam,
2,01,jammu and kashmir,003,1,baramulla,BARAMULLA
3,01,jammu and kashmir,004,1,doda,DODA
4,01,jammu and kashmir,005,1,jammu,JAMMU

In [3]:
# Clean the "lgd_district_key" table
lgd_district_key_cleaned = lgd_district_key[["lgd_state_id", "lgd_state_name", "lgd_district_id", "lgd_district_name"]]
lgd_district_key_cleaned = lgd_district_key_cleaned.drop_duplicates()

# Check the "lgd_district_key_cleaned" table
lgd_district_key_cleaned.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 733 entries, 0 to 732
Data columns (total 4 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   lgd_state_id       733 non-null    object
 1   lgd_state_name     733 non-null    object
 2   lgd_district_id    733 non-null    object
 3   lgd_district_name  733 non-null    object
dtypes: object(4)
memory usage: 23.0+ KB

In [4]:
# Explor the "lgd_pc11_village_key" table
lgd_pc11_village_key = pd.read_stata("../covid_data/keys/lgd_pc11_village_key.dta")
lgd_pc11_village_key.head()

,pc11_state_id,pc11_district_id,pc11_subdistrict_id,pc11_village_id,lgd_state_id,lgd_district_id,lgd_subdistrict_id,lgd_village_id,lgd_pc11_match
0,01,001,00001,000047,01,008,00001,000047,pc11 state/district/subdistrict/village id
1,01,001,00001,000048,01,008,00001,000048,pc11 state/district/subdistrict/village id
2,01,001,00001,000049,01,008,00001,000049,pc11 state/district/subdistrict/village id
3,01,001,00001,000050,01,008,00001,000050,pc11 state/district/subdistrict/village id
4,01,001,00001,000051,01,008,00001,000051,pc11 state/district/subdistrict/village id

In [5]:
# Clean the "lgd_pc11_district_key_cleaned" table
lgd_pc11_district_key_cleaned = lgd_pc11_village_key[["pc11_state_id", "pc11_district_id", "lgd_state_id", "lgd_district_id"]]
lgd_pc11_district_key_cleaned = lgd_pc11_district_key_cleaned.drop_duplicates()

# Check the "lgd_pc11_district_key_cleaned" table
lgd_pc11_district_key_cleaned.info()

<class 'pandas.core.frame.DataFrame'>
Index: 724 entries, 0 to 635900
Data columns (total 4 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   pc11_state_id     724 non-null    object
 1   pc11_district_id  724 non-null    object
 2   lgd_state_id      724 non-null    object
 3   lgd_district_id   724 non-null    object
dtypes: object(4)
memory usage: 28.3+ KB

In [6]:
# Explor the "pc11_district_key" table
pc11_district_key = pd.read_stata("../covid_data/keys/pc11_district_key.dta")
pc11_district_key.head()

,pc11_state_id,pc11_state_name,pc01_state_id,pc01_state_name,pc11_district_id,pc11_district_name,pc01_district_id,pc01_district_name
0,01,jammu kashmir,01,jammu kashmir,001,kupwara,01,kupwara
1,01,jammu kashmir,01,jammu kashmir,008,baramula,02,baramula
2,01,jammu kashmir,01,jammu kashmir,009,bandipore,02,baramula
3,01,jammu kashmir,01,jammu kashmir,011,ganderbal,02,baramula
4,01,jammu kashmir,01,jammu kashmir,010,srinagar,03,srinagar

In [7]:
# Clean the "pc11_district_key_cleaned" table
pc11_district_key_cleaned = pc11_district_key[["pc11_state_id", "pc11_state_name", "pc11_district_id", "pc11_district_name"]]
pc11_district_key_cleaned = pc11_district_key_cleaned.drop_duplicates()

# Check the "pc11_district_key_cleaned" table
pc11_district_key_cleaned.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 640 entries, 0 to 639
Data columns (total 4 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   pc11_state_id       640 non-null    object
 1   pc11_state_name     640 non-null    object
 2   pc11_district_id    640 non-null    object
 3   pc11_district_name  640 non-null    object
dtypes: object(4)
memory usage: 20.1+ KB

In [8]:
# Create the query table of state\district and their lgd_id, pc11_id, pc01_id by merging the above tables
district_key = pd.merge(lgd_district_key_cleaned, lgd_pc11_district_key_cleaned, on=["lgd_district_id"], how="left")
district_key = pd.merge(district_key, pc11_district_key_cleaned, on=["pc11_district_id"], how="left")

# Check "district_key" table
district_key.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 734 entries, 0 to 733
Data columns (total 10 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   lgd_state_id_x      734 non-null    object
 1   lgd_state_name      734 non-null    object
 2   lgd_district_id     734 non-null    object
 3   lgd_district_name   734 non-null    object
 4   pc11_state_id_x     724 non-null    object
 5   pc11_district_id    724 non-null    object
 6   lgd_state_id_y      724 non-null    object
 7   pc11_state_id_y     721 non-null    object
 8   pc11_state_name     721 non-null    object
 9   pc11_district_name  721 non-null    object
dtypes: object(10)
memory usage: 57.5+ KB

In [9]:
# Clean the query table
def compare_and_update_columns(df, col_x, col_y):
    # List to store mismatched rows' indices
    mismatched_rows = []

    # Check whether both columns exist
    if col_x in df.columns and col_y in df.columns:
        # Compare col_x and col_y, and ignore if one of them is Nan
        mismatches = df[(~pd.isna(df[col_x])) & (~pd.isna(df[col_y])) & (df[col_x] != df[col_y])]
        if not mismatches.empty:
            mismatched_rows.extend(mismatches.index.tolist())
            print(f"Columns {col_x} and {col_y} mismatch on rows: {mismatches.index.tolist()}")
        else:
            # If they are the same, drop the col_y, rename and keep col_x
            new_col_name = col_x.rstrip("_x")
            df.rename(columns={col_x: new_col_name}, inplace=True)
            df.drop(col_y, axis=1, inplace=True)
    else:
        raise ValueError(f"One or both columns {col_x} or {col_y} do not exist in the DataFrame.")
    
    return df

district_key = compare_and_update_columns(district_key, "lgd_state_id_x", "lgd_state_id_y")
district_key = compare_and_update_columns(district_key, "pc11_state_id_x", "pc11_state_id_y")

# Check the "district_key" table 
district_key.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 734 entries, 0 to 733
Data columns (total 8 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   lgd_state_id        734 non-null    object
 1   lgd_state_name      734 non-null    object
 2   lgd_district_id     734 non-null    object
 3   lgd_district_name   734 non-null    object
 4   pc11_state_id       724 non-null    object
 5   pc11_district_id    724 non-null    object
 6   pc11_state_name     721 non-null    object
 7   pc11_district_name  721 non-null    object
dtypes: object(8)
memory usage: 46.0+ KB

In [10]:
# Clean the "district_key" table, drop the rows with nan pc11_id
district_key = district_key.dropna(subset=["pc11_state_id", "pc11_district_id"])

# Check the "district_key" table
district_key.info()

<class 'pandas.core.frame.DataFrame'>
Index: 724 entries, 0 to 733
Data columns (total 8 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   lgd_state_id        724 non-null    object
 1   lgd_state_name      724 non-null    object
 2   lgd_district_id     724 non-null    object
 3   lgd_district_name   724 non-null    object
 4   pc11_state_id       724 non-null    object
 5   pc11_district_id    724 non-null    object
 6   pc11_state_name     721 non-null    object
 7   pc11_district_name  721 non-null    object
dtypes: object(8)
memory usage: 50.9+ KB

In [11]:
# Explore shapefile data (district level)
import geopandas as gpd

district_shp = gpd.read_file("../shrug-pc11dist-poly-shp/district.shp")

# Check the "district_shp" table
district_shp.info()

<class 'geopandas.geodataframe.GeoDataFrame'>
RangeIndex: 641 entries, 0 to 640
Data columns (total 4 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   pc11_s_id  641 non-null    object
 1   pc11_d_id  641 non-null    object
 2   d_name     640 non-null    object
 3   geometry   641 non-null    geometry
dtypes: geometry(1), object(3)
memory usage: 20.2+ KB

In [12]:
# Merge the shp and the query table
district_key_with_polygon = pd.merge(district_key, district_shp, left_on="pc11_district_id", right_on="pc11_d_id", how="left")

# Check the "district_key_with_polygon" table
district_key_with_polygon.head()

# Turn the values in "d_name" column into lowercase for the subsequence operations
district_key_with_polygon["d_name"] = district_key_with_polygon["d_name"].str.lower()

In [13]:
# Clean the merged table
# Drop the rows with nan value
district_key_with_polygon = district_key_with_polygon.dropna()

district_key_with_polygon = compare_and_update_columns(district_key_with_polygon, "pc11_state_id", "pc11_s_id")
district_key_with_polygon = compare_and_update_columns(district_key_with_polygon, "pc11_district_id", "pc11_d_id")
district_key_with_polygon = compare_and_update_columns(district_key_with_polygon, "pc11_district_name", "d_name")

Columns pc11_district_name and d_name mismatch on rows: [26, 191, 218, 245, 404, 444, 481, 490, 553, 590, 689, 723]

In [14]:
# There are 12 rows, which "pc11_district_name" and "d_name" are different, so the manually checking is conducted
district_key_with_polygon.loc[[26, 191, 218, 245, 404, 444, 481, 490, 553, 590, 689, 723]][["pc11_district_name", "d_name"]]

             pc11_district_name                        d_name
26                  lahul spiti                 lahul & spiti
191  sant ravidas nagar bhadohi  sant ravidas nagar (bhadohi)
218               kaimur bhabua               kaimur (bhabua)
245              north district               north  district
404         saraikela kharsawan           saraikela-kharsawan
444              janjgir champa              janjgir - champa
481                  east nimar          khandwa (east nimar)
490                  west nimar         khargone (west nimar)
553          dadra nagar haveli          dadra & nagar haveli
590                  ysr kadapa                        y.s.r.
689        north middle andaman       north  & middle andaman
723                  leh ladakh                   leh(ladakh)

In [15]:
# As they are basically same, the "d_name" is dropped
district_key_with_polygon = district_key_with_polygon.drop("d_name", axis=1)

# Check the "district_key_with_polygon" table
district_key_with_polygon.info()

<class 'pandas.core.frame.DataFrame'>
Index: 721 entries, 0 to 723
Data columns (total 9 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   lgd_state_id        721 non-null    object
 1   lgd_state_name      721 non-null    object
 2   lgd_district_id     721 non-null    object
 3   lgd_district_name   721 non-null    object
 4   pc11_state_id       721 non-null    object
 5   pc11_district_id    721 non-null    object
 6   pc11_state_name     721 non-null    object
 7   pc11_district_name  721 non-null    object
 8   geometry            721 non-null    geometry
dtypes: geometry(1), object(8)
memory usage: 72.5+ KB

In [16]:
district_key_with_polygon.rename(columns={"lgd_state_id": "lgd_sta_id",
                                          "lgd_state_name": "lgd_sta_na",
                                          "lgd_district_id": "lgd_dis_id",
                                          "lgd_district_name": "lgd_dis_na",
                                          "pc11_state_id": "pc11_st_id",
                                          "pc11_district_id": "pc11_di_id",
                                          "pc11_state_name": "pc11_st_na",
                                          "pc11_district_name": "pc11_di_na"}, inplace=True)

In [17]:
# Export the "district_key_with_polygon" table to shapefile
district_key_with_polygon = gpd.GeoDataFrame(district_key_with_polygon, geometry="geometry")
os.mkdir("./district_key_table_shp")
district_key_with_polygon.to_file("./district_key_table_shp/district_key_table_shp.shp", driver="ESRI Shapefile")